* {
    box-sizing: border-box
}

body {
    display: inline-block;
    background-color: rgb(146, 78, 211);
}

.main {
    display: inline-block;
    padding: 15px;
}

.education {}

.employment {}

.contactInfo {}

.addressInfo {}

.studentName {}

h1 {
    color: rgba(0, 66, 128, 0.705);
    font-family: times 'Times New Roman', Times, serif;
    font-size: 3em;
}

h2 {
    color: rgba(0, 174, 255, 0.616);
}

h3 {
    font-size: 2em;
    color: blue;
}

h4 {
    font-size: 1em;
}

img {
    width: 200px;
    height: 200px;
}

@media only screen and (min-width:320px) and (max-width:640px) {
    body {
        display: flex;
        background-color: rgb(115, 196, 183);
    }
    .main {
        display: inline-block;
        padding: 15px;
    }
    .education {
        font-size: 2em;
    }
    .employment {}
    .contactInfo {
        display: block;
    }
    .addressInfo {}
    .studentName {
        color: aliceblue;
        font-size: 1em;
    }
    h1 {
        color: rgba(0, 66, 128, 0.705);
        font-family: times 'Times New Roman', Times, serif;
        font-size: 3em;
    }
    h2 {
        color: rgba(0, 174, 255, 0.616);
        font-size: 2em;
    }
    h3 {
        font-size: 2em;
        color: blue;
    }
    h4 {
        font-size: 1em;
    }
    img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (min-width: 641px) and (max-width: 900px) {
    body {
        background-color: rgb(168, 23, 125);
    }
    .main {}
    .education {}
    .employment {}
    .contactInfo {}
    .addressInfo {}
    .studentName {}
    h1 {
        color: rgba(0, 66, 128, 0.705);
        font-family: times 'Times New Roman', Times, serif;
    }
    h2 {
        color: rgba(0, 174, 255, 0.616);
    }
    h3 {
        color: blue;
    }
    img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (min-width:901px) and (max-width:1200px) {
    body {
        background-color: rgb(23, 115, 168);
    }
    .main {}
    .education {}
    .employment {}
    .contactInfo {}
    .addressInfo {}
    .studentName {
        color: aqua;
        font-size: 2em;
    }
    h1 {
        color: rgba(0, 66, 128, 0.705);
        font-family: times 'Times New Roman', Times, serif;
    }
    h2 {
        color: rgba(0, 174, 255, 0.616);
    }
    h3 {
        color: rgb(75, 197, 181);
        font-size: 2.3em;
    }
    img {
        width: 300px;
        height: 300px;
    }
}